body{
  font-family: arial;
  
   

}
#main-heading{
  text-align: center;
}
.todo-container{
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
   margin-left: 33%;
}
.main{
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px ;
  row-gap: 10px;
  margin-bottom: 20px;
  margin-top: 50px;
  margin-left: 33%;
 
}
#todo-input{
  height: 40px;
  width: auto;
  
}
.d-button{
  height: 40px;
  width: auto;
  background-color: red;
  color: white;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;

}
.add-button{
  color: white;
  background-color: green;
   border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
}
#todo-date{
  cursor: pointer;
}
